# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# База данных и данные
var/
database/
userbot.session

# Логи
logs/*.log

# Загружаемые файлы
downloads/*

# Локальные утилиты
dev_tools/

# Конфиги с токенами
config.py

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
