# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# База данных
database/*.db
database/*.sqlite3

# Логи
logs/*.log

# Загружаемые файлы
downloads/*

# Конфиги с токенами
config.py

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
